# Security
ADMIN_PIN=2026

# Application Port
PORT=8000

# Mock Mode (Set to true to test the app locally with mock data without Google Cloud credentials)
MOCK_GOOGLE_API=false

# Paths
CONFIG_PATH=./config.yaml
GOOGLE_CREDENTIALS_PATH=./secrets/credentials.json
CACHE_DIR=./data/cache

# Downloader Service
DOWNLOADER_SERVICE_URL=http://downloader:8001
